

.RollDice{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.RollDice-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button{
    align-self: center;    /*first time I usedx align-self*/
    width: 8em;
    padding: 8px;
    font-size: 2rem;
    font-display: bold;
    border: none;
    border-radius: 10px;
    color: seashell;
    background-color: sandybrown;
    margin-top: 5em;
    background: rgba(24, 24, 172, 0.721);
}

.RollDice button:hover{
    background-color: seagreen;
    cursor: pointer;
    border: 0px;
}